parameters:
	level: max
	scanFiles:
		- plugin.php
	scanDirectories:
		- vendor
		- wordpress
	paths:
		- inc
	excludePaths:
		- wordpress/wp-admin/includes/noop.php
	ignoreErrors:
		- '#Cannot cast .* to string#'
