parameters:
	level: max
	scanFiles:
		- plugin.php
	scanDirectories:
		- vendor
	paths:
		- inc
	excludePaths:
		- vendor/wordpress/wp-admin/includes/noop.php
	ignoreErrors:
		- '#Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, (.*) given.#'
		- '#Call to an undefined method cli\\progress\\Bar\|WP_CLI\\NoOp::(tick|finish)\(\).#'
